{% extends "base.html" %}

{% block content %}
<div class="emblem">
    <h2 style="margin-left: 160px">Аварийный доступ</h2>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_astro.label }}<br>
        {{ form.id_astro(class="form-control") }}<br>
        {% for error in form.id_astro.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.pw_astro.label }}<br>
        {{ form.pw_astro(class="form-control", type="password") }}<br>
        {% for error in form.pw_astro.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.id_cap.label }}<br>
        {{ form.id_cap(class="form-control") }}<br>
        {% for error in form.id_cap.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.pw_cap.label }}<br>
        {{ form.pw_cap(class="form-control", type="password") }}<br>
        {% for error in form.pw_cap.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>

{% endblock %}